@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}
body {
  font-family: "Avenir", sans-serif;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.bandsite {
  padding-top: 0;
  margin-top: 0;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0;
}
.bandsite__container {
  padding-bottom: 0;
}
.bandsite__logo {
  height: 2.25rem;
  padding: 2.25rem;
}
.bandsite__sub-header {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.bandsite__li {
  width: 50%;
  font-weight: 700;
  padding-bottom: 1rem;
}
.bandsite__sub-header--nav {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 2.4375rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}
.bandsite__sub-header li:hover {
  border-bottom: 3px solid #FFFFFF;
}
.bandsite__sub-header--nav:hover {
  font-weight: 700;
}
.bandsite__hero {
  background-image: url("../assets/images/Images/hero-bio.jpg");
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  height: 18.75rem;
  padding-top: 21.875rem;
  padding-left: 2.5rem;
  display: flex;
  padding-bottom: 14.0625rem;
  font-size: 3rem;
  background-color: #323232;
  opacity: 100%;
}
.bandsite__hero--title {
  font-size: 2.375rem;
  font-weight: 500;
}

.musicians-description {
  padding-top: 1.5rem;
}
.musicians-description h2 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.musicians-description img {
  width: 90%;
  padding: 1rem;
}
.musicians-description__quote {
  width: 80%;
  font-weight: 500;
  padding: 1rem;
  font-size: 1.125rem;
  padding-bottom: 0;
}
.musicians-description__quote-second {
  font-weight: 500;
  padding: 1rem;
  font-size: 1.125rem;
}
.musicians-description__bees-knees {
  font-size: 1.125rem;
  padding: 1rem;
  font-weight: 500;
  padding-bottom: 0;
}
.musicians-description__bees-knees-description {
  padding: 1rem;
}

.photo-gallery {
  background-color: #FAFAFA;
  padding: 1rem;
}
.photo-gallery h2 {
  padding-left: 2.25rem;
  font-size: 2rem;
  font-size: 500;
}
.photo-gallery__container {
  margin-left: 2.5rem;
}
.photo-gallery img {
  width: 90%;
}

.comment {
  background-color: #FFFFFF;
}
.comment__div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 0;
}
.comment__pTag {
  color: #323232;
  font-weight: 500;
  padding-left: 1rem;
}
.comment__pTag2 {
  margin-left: 11.25rem;
  color: #AFAFAF;
}
.comment__pTag3 {
  color: #323232;
  width: 80%;
  padding-left: 5.625rem;
}
.comment__div2 {
  border-bottom: 1px solid #E1E1E1;
}
.comment__img {
  background-color: #E1E1E1;
  aspect-ratio: 1;
  padding: 2rem;
}
.comment__top {
  border-bottom: 1px solid #E1E1E1;
}
.comment h2 {
  font-size: 2rem;
  padding: 1.5rem;
  font-weight: 500;
  color: #323232;
}
.comment__top--container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
}
.comment img {
  border-radius: 50%;
  width: 15%;
  margin-left: 2.375rem;
  aspect-ratio: 1;
}
.comment__top--name {
  min-height: 2.25rem;
  padding: 0.75rem;
}
.comment__top--label {
  color: #AFAFAF;
  font-weight: 500;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}
.comment__top--name-input {
  display: block;
  border-radius: 4px;
  background-color: #FAFAFA;
  border-color: #E1E1E1;
  width: 19.5rem;
  padding: 0.75rem;
}
.comment__top--name-input:active {
  border: 1px solid #323232;
}
.comment__top--name-input::-moz-placeholder {
  color: #323232;
  font-family: "Avenir";
  font-size: 0.875rem;
  padding-left: 0.25rem;
}
.comment__top--name-input::placeholder {
  color: #323232;
  font-family: "Avenir";
  font-size: 0.875rem;
  padding-left: 0.25rem;
}
.comment__bottom--label {
  color: #AFAFAF;
  font-weight: 500;
  font-size: 0.75rem;
  display: block;
  padding-bottom: 0.25rem;
  margin-left: 0;
}
.comment__bottom {
  margin-left: 7.75rem;
}
.comment__bottom--textarea {
  display: block;
  margin-bottom: 0.75rem;
  width: 21rem;
  background-color: #FAFAFA;
  border-radius: 4px;
  margin-left: 0;
}
.comment__bottom--textarea::-moz-placeholder {
  color: #323232;
  font-size: 0.875rem;
  font-family: "Avenir";
  padding: 0.75rem;
}
.comment__bottom--textarea::placeholder {
  color: #323232;
  font-size: 0.875rem;
  font-family: "Avenir";
  padding: 0.75rem;
}
.comment__bottom--textarea:active {
  border: 1px solid #323232;
}
.comment__button {
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  width: 21rem;
  height: 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 0;
}
.comment__list {
  padding: 1rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
.footer h2 {
  font-size: 2rem;
  font-weight: 500;
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__facebook {
  width: 2.5rem;
  height: 1.875rem;
  padding-left: 2rem;
}
.footer__twitter {
  width: 2.5rem;
  height: 1.875rem;
  padding-left: 2rem;
}
.footer__instagram {
  width: 2.5rem;
  height: 1.875rem;
}
.footer__management {
  padding-top: 1rem;
}
.footer__address {
  padding-top: 1rem;
}
.footer__email--bees-knees {
  padding-top: 1rem;
}
.footer__group {
  padding-top: 1rem;
}
.footer__agent {
  padding-top: 1rem;
}
.footer__email--pearl {
  padding-top: 1rem;
}
.footer__entertainment {
  padding-top: 1rem;
}
.footer__booking-agent {
  padding-top: 1rem;
}
.footer__email--entertainment {
  padding-top: 1rem;
}
.footer__bandsite {
  padding-top: 2rem;
  font-size: 2rem;
}
.footer__copyright {
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .bandsite {
    background-color: #323232;
    color: #FFFFFF;
  }
  .bandsite__sub-header li:hover {
    border-bottom: 3px solid #FFFFFF;
    font-weight: 700;
    padding-bottom: 2.625rem;
  }
  .bandsite__container {
    display: flex;
    padding-left: 1.875rem;
  }
  .bandsite__sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .bandsite__container {
    padding-bottom: 0;
  }
  .bandsite__sub-header {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-evenly;
  }
  .bandsite__sub-header--nav {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 2.4375rem;
    margin: 0;
    padding: 0;
    padding: 2.25rem;
    margin-top: 1.5rem;
  }
  .bandsite nav {
    padding-top: 1.125rem;
  }
  .bandsite__li {
    width: 50%;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .bandsite__hero--title {
    padding-left: 1.75rem;
    font-size: 4.5rem;
    font-weight: 500;
  }
  .musicians-description {
    margin: 2.25rem;
    padding: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .musicians-description h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 2.75rem;
    padding-left: 0;
  }
  .musicians-description img {
    display: flex;
    margin-left: 0;
  }
  .musicians-description__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1.125rem;
    width: 95%;
  }
  .musicians-description__quote-second {
    padding-top: 0;
    font-weight: 600;
    margin-left: 1.125rem;
  }
  .musicians-description__bees-knees {
    margin-left: 2.375rem;
    padding-left: 0;
    font-size: 1.5rem;
    padding-bottom: 0;
    font-weight: 700;
  }
  .musicians-description__bees-knees-description {
    padding-top: 0;
    padding-left: 2.5rem;
    display: inline-block;
    font-size: 1rem;
  }
  .musicians-description__container {
    padding-right: 18.75rem;
    display: flex;
    flex-wrap: row;
    gap: 2.25rem;
    width: 80%;
  }
  .photo-gallery {
    background-color: #FAFAFA;
    padding: 2.25rem;
  }
  .photo-gallery h2 {
    font-size: 3rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-left: 1.875rem;
    font-weight: 500;
    margin-left: 2rem;
  }
  .photo-gallery__container {
    margin-left: 2.5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1.5rem;
  }
  .photo-gallery__container img {
    width: 30%;
  }
  .photo-gallery__container-1 {
    display: inline-block;
  }
  .photo-gallery__container-2 {
    display: inline-block;
  }
  .photo-gallery__container-3 {
    display: inline-block;
  }
  .comment h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-left: 2rem;
  }
  .comment img {
    width: 10%;
  }
  .comment__top--name-input {
    width: 39rem;
  }
  .comment__bottom--textarea {
    width: 40rem;
  }
  .comment__top--container {
    margin-left: 6.25rem;
  }
  .comment__bottom {
    margin-left: 14.6875rem;
  }
  .comment__button {
    width: 25%;
    margin-left: 28rem;
    height: 3.125rem;
    border-radius: 8px;
    font-size: 1rem;
  }
  .comment__img {
    padding: 2.25rem;
  }
  .comment__div {
    margin-left: 0;
    padding: 1.5rem 1.125rem;
    padding-bottom: 0;
  }
  .comment__div2 {
    padding: 1.5rem 1.125rem;
    padding-top: 0;
  }
  .comment__top--name-input::-moz-placeholder {
    padding: 0.75rem;
  }
  .comment__top--name-input::placeholder {
    padding: 0.75rem;
  }
  .comment__bottom--textarea::-moz-placeholder {
    padding: 0.75rem;
  }
  .comment__bottom--textarea::placeholder {
    padding: 0.75rem;
  }
  .comment__list {
    padding: 2.25rem;
    margin-left: 2.25rem;
  }
  .comment__pTag2 {
    margin-left: 31.25rem;
  }
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    position: relative;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 5rem;
    margin-top: 0;
  }
  .footer__bandsite {
    padding: 0.5rem;
  }
  .footer a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-left: 0;
    font-weight: 500;
  }
  .footer__container--1 {
    padding-left: 3rem;
    display: flex;
    justify-content: flex-start;
  }
  .footer__social-media {
    padding-top: 2.1875rem;
    padding-left: 2.25rem;
  }
  .footer__instagram {
    width: 2.5rem;
    height: 1.875rem;
  }
  .footer__facebook {
    width: 2.5rem;
    height: 1.875rem;
  }
  .footer__twitter {
    width: 2.5rem;
    height: 1.875rem;
  }
  .footer__container--1-bandsite {
    padding-top: 0;
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
  .footer__container--2 {
    padding-left: 3.25rem;
  }
  .footer__container--2-gregg {
    position: absolute;
    top: 7.5625rem;
    left: 20.625rem;
  }
  .footer__container--2-whyte {
    position: absolute;
    top: 7.625rem;
    right: 8.125rem;
  }
  .footer__container--3 {
    padding-left: 3.25rem;
  }
  .footer__container--3-agent {
    position: absolute;
    top: 13.8125rem;
    left: 20.625rem;
  }
  .footer__container--3-agent-int {
    position: absolute;
    top: 13.8125rem;
    right: 9.0625rem;
  }
  .footer__container--4 {
    padding-left: 3.25rem;
  }
  .footer__container--4-gregg {
    position: absolute;
    top: 20.125rem;
    left: 20.625rem;
  }
  .footer__container--4-whyte {
    position: absolute;
    top: 20rem;
    right: 3.75rem;
  }
  .footer__copyright {
    padding-top: 2.25rem;
    padding-left: 3.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bandsite {
    background-color: #323232;
    color: #FFFFFF;
  }
  .bandsite__container {
    display: flex;
    padding-left: 7.5rem;
  }
  .bandsite h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 400;
    padding: 1.25rem;
  }
  .bandsite__sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .bandsite__container {
    padding-bottom: 0;
  }
  .bandsite__sub-header {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-evenly;
  }
  .bandsite__sub-header--nav {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 2.4375rem;
    margin: 0;
    padding: 0;
    padding: 2.25rem;
    margin-top: 1.5rem;
  }
  .bandsite nav {
    padding-top: 1.125rem;
  }
  .bandsite__li {
    width: 50%;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .bandsite__sub-header li:hover {
    border-bottom: 3px solid #FFFFFF;
  }
  .bandsite__hero--title {
    padding-left: 3.125rem;
    font-size: 5.625rem;
    font-weight: 500;
  }
  .musicians-description {
    margin: 2.25rem;
    padding: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .musicians-description h2 {
    font-size: 3rem;
    line-height: 2.75rem;
    font-weight: 500;
    padding-bottom: 2.25rem;
  }
  .musicians-description img {
    display: flex;
    margin-left: 4.375rem;
    padding-bottom: 2.25rem;
  }
  .musicians-description__quote {
    font-size: 1.75rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
    width: 47%;
    margin-left: 9.375rem;
  }
  .musicians-description__quote-second {
    padding-top: 0;
    font-weight: 600;
    margin-left: 9.6875rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .musicians-description__bees-knees {
    margin-left: 10.625rem;
    font-size: 1.875rem;
    padding-bottom: 0;
    font-weight: 600;
  }
  .musicians-description__bees-knees-description {
    padding-top: 0;
    width: 30rem;
    padding-left: 10.625rem;
    display: inline-block;
  }
  .photo-gallery {
    background-color: #FAFAFA;
    padding: 2.25rem;
    padding-bottom: 0;
  }
  .photo-gallery h2 {
    font-size: 3rem;
    line-height: 2.75rem;
    font-weight: 500;
    padding-left: 3.25rem;
    margin-left: 6.25rem;
    padding-bottom: 1.5rem;
  }
  .photo-gallery__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
    justify-content: flex-end;
  }
  .photo-gallery__container img {
    width: 30%;
  }
  .photo-gallery__container-1 {
    display: inline-block;
  }
  .photo-gallery__container-2 {
    display: inline-block;
  }
  .photo-gallery__container-3 {
    display: inline-block;
    padding-bottom: 0;
  }
  .comment h2 {
    padding: 3rem;
    margin-left: 3.75rem;
  }
  .comment__top--name-input {
    width: 40rem;
  }
  .comment img {
    width: 7%;
    margin-left: 2.375rem;
  }
  .comment__top--container {
    margin-left: 29.3%;
  }
  .comment__bottom {
    margin-left: 35.5%;
    width: 36.5%;
  }
  .comment__bottom--label {
    margin-left: 2rem;
  }
  .comment__bottom--textarea {
    padding: 0.75rem;
    margin-left: 2rem;
  }
  .comment__button {
    margin-left: 31.5rem;
    width: 12rem;
  }
  .comment__img {
    padding: 2rem;
  }
  .comment__list {
    padding: 0 30rem;
  }
  .comment__pTag3 {
    margin-left: 1.75rem;
  }
  .comment__pTag2 {
    margin-left: 25rem;
  }
  .comment__div2 {
    width: 70%;
  }
  .footer {
    margin-top: 3rem;
    background-color: #323232;
    color: #FFFFFF;
    position: relative;
    line-height: 1.25rem;
    font-weight: 400;
    font-size: 1rem;
  }
  .footer__bandsite {
    padding: 0.5rem;
  }
  .footer h2 {
    line-height: 2.75rem;
    font-size: 3rem;
    padding-right: 1.5rem;
    padding-left: 2.5rem;
    font-weight: 600;
    padding-top: 1.6875rem;
  }
  .footer__container--1 {
    padding-left: 9.375rem;
    display: flex;
    justify-content: flex-start;
  }
  .footer__social-media {
    padding-top: 4.5625rem;
    padding-left: 2.25rem;
  }
  .footer__container--1-bandsite {
    padding-top: 0;
    position: absolute;
    top: 5rem;
    right: 15rem;
  }
  .footer__container--2 {
    padding-left: 12.5rem;
    margin-top: 0;
    padding-top: 0;
  }
  .footer__container--2-gregg {
    position: absolute;
    top: 10.3125rem;
    left: 35.625rem;
    margin-bottom: 2.25rem;
  }
  .footer__container--2-whyte {
    position: absolute;
    left: 58.75rem;
    top: 10.25rem;
  }
  .footer__container--3 {
    padding-left: 12.5rem;
  }
  .footer__agent {
    padding-top: 3.75rem;
  }
  .footer__container--3-agent {
    position: absolute;
    top: 13.6875rem;
    left: 35.625rem;
  }
  .footer__container--3-agent-int {
    position: absolute;
    top: 16.3125rem;
    left: 58.75rem;
  }
  .footer__container--4 {
    padding-left: 12.5rem;
    padding-bottom: 1rem;
  }
  .footer__container--4-gregg {
    position: absolute;
    top: 23.25rem;
    left: 35.625rem;
  }
  .footer__container--4-whyte {
    position: absolute;
    top: 23.25rem;
    left: 58.75rem;
  }
  .footer__copyright {
    padding-left: 12.5rem;
    padding-top: 1.75rem;
  }
}/*# sourceMappingURL=bio.css.map */