@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
}


.bandsite {
    padding-top: 0;
    margin-top: 0;
    background-color: #323232;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;

    &__container {
      padding-bottom: 0;
    }

    &__logo {
      height: 36px;
      padding: 36px;
    }

    &__sub-header{
      display: flex;
      text-decoration: none;
      list-style-type: none;
      // border: 1px solid blue;
      padding: 0;
      margin-bottom: 0;
    }

    &__li {
      // border: 1px solid yellow;
      width: 50%;
      font-weight: 700;
      padding-bottom: 1rem;
    }

  

    &__sub-header--nav{
      // margin-left: 40px;
      text-decoration: none;
      color: #FFFFFF;
      margin-top: 39px;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }

    &__sub-header li:hover{
      border-bottom: 3px solid #FFFFFF;
    }

    &__sub-header--nav:hover {
      font-weight: 700;
    }

    // &__container:hover {
    //   border-bottom: 3px solid #FFFFFF;
    // }

    &__hero {
      background-image: url("../assets/images/Images/hero-bio.jpg");
      // margin:0;
      color: #FFFFFF;
      background-size: cover;
      // padding-top: 400px;
      // font-size: 32px;
      background-repeat: no-repeat;
      // background-position: center;
      height: 300px;
      padding-top: 350px;
      // vertical-align: bottom;
      padding-left: 40px;
      display: flex;
      padding-bottom: 225px;
      font-size: 48px;
    }

    &__hero--title {
      font-size: 38px;
      font-weight: 500;
    }

}

.musicians-description {

  padding-top: 24px;

    h2{
      padding: 16px;
    }

    img {
      width: 90%;
      padding: 16px;
    }

    &__quote{
      font-weight: 700;
      padding: 16px;
    }

    &__quote-second {
      font-weight: 700;
      padding: 16px;
    }

    &__bees-knees{
      padding: 16px;
      font-weight: 700;
    }

    &__bees-knees-description{
      padding: 16px;
    }

}

.photo-gallery {
    background-color: #FAFAFA;
    padding: 16px;

    &__container {
      margin-left: 2.5rem;
    }

    img {
      width: 90%;
    }

    

}

.footer {
    background-color: #323232;
    color: #FFFFFF;
    padding: 16px;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }

    &__facebook {
      padding-left: 32px;
    }

    &__twitter {
      padding-left: 32px;
    }

    &__management {
      padding-top: 16px;
    }

    &__address {
      padding-top: 16px;
    }

    &__email--bees-knees {
      padding-top: 16px;
    }

    &__group {
      padding-top: 16px;
    }

    &__agent {
      padding-top: 16px;
    }

    &__email--pearl {
      padding-top: 16px;
    }

    &__entertainment {
      padding-top: 16px;
    }

    &__booking-agent {
      padding-top: 16px;
    }

    &__email--entertainment{
      padding-top: 16px;
    }

    &__bandsite {
      padding-top: 32px;
      font-size: 32px;
    }

}

@include tablet {
    .bandsite {
     
      &__sub-header li:hover{
        // padding-bottom: 32px;
        border-bottom: 3px solid #FFFFFF;
        font-weight: 700;
        padding-bottom: 42px;
      }

      background-color: #323232;
      color: #FFFFFF;

      &__container {
        display: flex;
        padding-left: 30px;
      }

      &__sub-header {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
      }

      &__container {
        padding-bottom: 0;
      }
  
      &__logo {
        height: 36px;
        padding: 36px;
      }

      &__sub-header {
         display: flex;
         text-decoration: none;
         list-style-type: none;
         padding: 0;
         margin-bottom: 0;
         justify-content: space-evenly;
        //  border-bottom: 3px solid #323232;
      }
  
      &__sub-header--nav{
        // margin-left: 40px;
        text-decoration: none;
        color: #FFFFFF;
        margin-top: 39px;
        margin: 0;
        padding: 0;
        padding: 36px;
        margin-top: 24px;
      }

      nav {
        padding-top: 18px;
      }

      &__li {
        width: 50%;
        font-weight: 700;
        padding-bottom: 1rem;
        // gap: 1rem;
      }
  

      &__hero--title {
        padding-left: 28px;
        font-size: 72px;
        font-weight: 500;
      }
    }

    .musicians-description {
      margin: 36px;
      padding: 24px;
      font-size: 14px;
      line-height: 22px;

        h2 {
          font-size: 36px;
          line-height: 44px;
          font-weight: 700;
        }

        img {
          display: flex;
          margin-left: 0;
        }

        &__quote {
          font-size: 24px;
          line-height: 32px;
          // display: flex;
          // justify-content: center;
          font-weight: 600;
          margin-left: 40px;
        }

        &__quote-second {
          padding-top: 0;
          font-weight: 600;
          // margin-left: 140px;
          margin-left: 50px;
        }

        &__bees-knees {
          margin-left: 38px;
          padding-left: 0px;
          font-size: 24px;
          padding-bottom: 0;
          font-weight: 700;
        }

        &__bees-knees-description {
          padding-top: 0;
          // width: 480px;
          // width: 150px;
          // padding-left: 160px;
          padding-left: 40px;
          display: inline-block;
          font-size: 16px;
        }

        &__container {
          padding-right: 300px;
          display: flex;
          flex-wrap: row;
          gap: 36px;
          width: 80%;

        }

    }

    .photo-gallery {
      background-color: #FAFAFA;
      padding: 36px;
      // height: 1450px;


      h2 {
        font-size: 48px;
        line-height: 44px;
        font-weight: 700;
        padding-left: 30px;
        font-weight: 500;
        margin-left: 32px;
      }

      &__container {
        margin-left: 40px;
        padding-left: 24px;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        // width: 500px;
        width: 90%;
        gap: 24px;
        // height: 500px;
        // padding-left: 10px;
      }

      &__container img {
        // width: 530px;
        width: 30%;
        // height: 320px;
        // padding: 36px;
      }

      &__container-1 {
        display: inline-block;
      }

      &__container-2 {
        display: inline-block;
      }

      &__container-3 {
        display: inline-block;
      }

    }

    .footer {
      background-color: #323232;
      color: #FFFFFF;
      position: relative;
      // font-size: 14px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin-top: 5rem;
      margin-top: 0;

        &__bandsite {
          padding: 8px;
        }

        a {
          text-decoration: none;
          color: #FFFFFF;
        }

        h2 {
          font-size: 36px;
          line-height: 44px;
          font-weight: 700;
          margin-left: 0px;
          font-weight: 500;
        }

        &__container--1 {
          padding-left: 3rem;
          display: flex;
          justify-content: flex-start;
        }

        &__social-media {
          padding-top: 35px;
          padding-left: 36px;
        }

        &__instagram {
          width: 40px;
          height: 30px;
        }

        &__facebook {
          width: 40px;
          height: 30px;
        }

        &__twitter {
          width: 40px;
          height: 30px;
        }

        &__container--1-bandsite {
          padding-top: 0;
          position: absolute;
          top: 3rem;
          // left: 1100px;
          right: 1rem;
        }

        &__container--2 {
          padding-left: 52px;
        }

        &__container--2-gregg {
          position: absolute;
          top: 121px;
          // left: 375px;
          left: 330px;
        }

        &__container--2-whyte {
          position: absolute;
          top: 122px;
          // right: 200px;
          // right: 90px;
          right: 130px;
        }

        &__container--3 {
          padding-left: 52px;
        }

        &__container--3-agent {
          position: absolute;
          top: 221px;
          // left: 375px;
          // right: 280px;
          left: 330px;
        }

        &__container--3-agent-int {
          position: absolute;
          top: 221px;
          // right: 216px;
          // right: 105px;
          // right: 250px;
          right: 145px;
        }

        &__container--4 {
          padding-left: 52px;
        }

        &__container--4-gregg {
          position: absolute;
          top: 322px;
          // left: 375px;
          left: 330px;
        }

        &__container--4-whyte {
          position: absolute;
          top: 320px;
          // right: 130px;
          // right: 100px;
          // right: 170px;
          right: 60px;
        }

        &__copyright {
          padding-top: 36px;
          padding-left: 52px;
        }

    }

}

@include desktop {
    .bandsite {
      background-color: #323232;
      color: #FFFFFF;

      &__container {
        display: flex;
        // justify-content: flex-;
        // padding: 48px;
        // padding: 36px;
        // padding: 24px;
        padding-left: 120px;
      }

      h2 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 400;
        // padding: 36px;
        // padding: 24px;
        padding: 20px;
      }

      &__sub-header {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        // padding: 48px;
        // padding: 36px;
        // padding: 32px;
      }

      &__container {
        padding-bottom: 0;
      }
  
      &__logo {
        height: 36px;
        padding: 36px;
      }

      
  
  
      &__sub-header {
         display: flex;
         text-decoration: none;
         list-style-type: none;
         padding: 0;
         margin-bottom: 0;
         justify-content: space-evenly;
        //  border-bottom: 3px solid #323232;
      }
  
      &__sub-header--nav{
        // margin-left: 40px;
        text-decoration: none;
        color: #FFFFFF;
        margin-top: 39px;
        margin: 0;
        padding: 0;
        padding: 36px;
        margin-top: 24px;
      }

      nav {
        padding-top: 18px;
      }

      &__li {
        width: 50%;
        font-weight: 700;
        padding-bottom: 1rem;
        // gap: 1rem;
      }
  
      &__sub-header li:hover{
        // padding-bottom: 32px;
        border-bottom: 3px solid #FFFFFF;
        // font-weight: 700;
      }

      &__hero--title {
        padding-left: 50px;
        font-size: 90px;
        font-weight: 500;
      }


      &__hero {
        // background-image: url("../assets/images/Images/hero-bio.jpg");
        // margin:0;
        // color: #FFFFFF;
        // background-size: cover;
        // // padding-top: 400px;
        // font-size: 60px;
        // line-height: 68px;
        // background-repeat: no-repeat;
        // background-position: center center;
        // height: 700px;
        // display: flex;
        // padding-top: 550px;
        // vertical-align: bottom;
        // padding-left: 250px;
      }
    }

    .musicians-description {
      margin: 36px;
      padding: 24px;
      font-size: 14px;
      line-height: 22px;

        h2 {
          font-size: 36px;
          line-height: 44px;
          font-weight: 700;
          padding-bottom: 36px;
        }

        img {
          display: flex;
          margin-left: 70px;
          padding-bottom: 36px;
        }

        &__quote {
          font-size: 28px;
          line-height: 32px;
          display: flex;
          justify-content: center;
          font-weight: 500;
          width: 900px;
          margin-left: 150px;
        }

        &__quote-second {
          padding-top: 0;
          font-weight: 600;
          margin-left: 155px;
          font-size: 20px;
          font-weight: 500;
        }

        &__bees-knees {
          margin-left: 170px;
          font-size: 30px;
          padding-bottom: 0;
          font-weight: 600;
        }

        &__bees-knees-description {
          padding-top: 0;
          width: 480px;
          // padding-left: 240px;
          padding-left: 170px;
          display: inline-block;
        }

        

    }

    .photo-gallery {
      background-color: #FAFAFA;
      padding: 36px;
      // height: 1450px;
      padding-bottom: 0px;
      // margin-left: 180px;

        h2 {
          // font-size: 36px;
          font-size: 48px;
          line-height: 44px;
          font-weight: 500;
          padding-left: 52px;
          margin-left: 100px;
          padding-bottom: 24px;
        }

        &__container {
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
          // width: 360px;
          // height: 360px;
          // padding-left: 16px;
          gap: 36px;
          justify-content: flex-end;
        }

        &__container img {
          // width: 530px;
          width: 30%;
          // height: 320px;
          // padding: 36px;
        }
  
        &__container-1 {
          display: inline-block;
        }
  
        &__container-2 {
          display: inline-block;
        }
  
        &__container-3 {
          display: inline-block;
          padding-bottom: 0;
        }
    }

    .footer {
      margin-top: 5rem;
      background-color: #323232;
      color: #FFFFFF;
      position: relative;
      // font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      font-size: 16px;

        &__bandsite {
          padding: 8px;
        }

        h2 {
          // font-size: 36px;
          line-height: 44px;
          // font-weight: 700;
          font-size: 48px;
          padding-right: 24px;
          padding-left: 40px;
          font-weight: 600;
          // line-height: 50px;
          padding-top: 27px;
        }

        &__container--1 {
          padding-left: 150px;
          display: flex;
          justify-content: flex-start;
        }

        &__social-media {
          padding-top: 73px;
          padding-left: 36px;
        }

        &__instagram {
          width: 40px;
          height: 30px;
        }

        &__facebook {
          width: 40px;
          height: 30px;
        }

        &__twitter {
          width: 40px;
          height: 30px;
        }

        &__container--1-bandsite {
          padding-top: 0;
          position: absolute;
          // top: 9px;
          top: 80px;
          // left: 1500px;
          right: 15rem;
        }

        &__container--2 {
          // padding-left: 150px;
          padding-left: 200px;
          margin-top: 0;
          padding-top: 0;
        }

        &__container--2-gregg {
          position: absolute;
          // top: 120px;
          top: 165px;
          left: 570px;
          margin-bottom: 36px;
        }

        &__container--2-whyte {
          position: absolute;
          // top: 120px;
          left: 940px;
          top: 164px;
        }

        &__container--3 {
          // padding-left: 150px;
          padding-left: 200px;
        }

        &__agent {
          padding-top: 60px;
        }

        &__container--3-agent {
          position: absolute;
          top: 219px;
          left: 570px;
        }

        &__container--3-agent-int {
          position: absolute;
          // top: 219px;
          top: 261px;
          left: 940px;
        }

        &__container--4 {
          // padding-left: 150px;
          padding-left: 200px;
          padding-bottom: 16px;
        }

        &__container--4-gregg {
          position: absolute;
          // top: 319px;
          // top: 358px;
          top: 372px;
          left: 570px;
        }

        &__container--4-whyte {
          position: absolute;
          // top: 319px;
          // top: 356px;
          top: 372px;
          left: 940px;
        }

        &__copyright {
          // padding-left: 150px;
          padding-left: 200px;
          padding-top: 28px;
          padding-bottom: 24px;
        }
    }


}





        
